.cards {
  padding: 4rem;
  background: #fff;
}

h1 {
  text-align: center;
}

.cards__container {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}

.cards__wrapper {
  position: relative;
  width: 100%;
  margin: 50px 0 45px;
}

.cards__items {
  display: flex;
  flex-flow: row wrap;
  width: 70%;
  padding: 0;
  margin: auto;
}

.cards__item {
  display: flex;
  flex: 1;
  margin-bottom: 24px;
  border-radius: 10px;
}

.cards__item__link {
  display: flex;
  flex-flow: column;
  width: 17rem;
  margin: 0 auto;
  box-shadow: 0 6px 20px rgba(11, 28, 61, 0.17);
  -webkit-filter: drop-shadow(0 6px 20px rgba(255, 56, 189, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
}

.cards__item__pic-wrap {
  position: relative;
  width: 250px; /*size of the card*/
  height: 200px;
  padding-top: 67%;
  overflow: hidden;
}

.fade-img {
  animation-name: fade-img;
  animation-duration: 2s;
}

.cards__item__pic-wrap::after {
  content: attr(data-category);
  position: absolute;
  bottom: 0;
  margin-left: 10px;
  padding: 6px 8px;
  max-width: calc((100%) - 60px);
  font-size: 14px;
  font-weight: 900;
  color: #fff;
  background-color: rgb(1, 26, 75); /* button color */
  box-sizing: border-box;
}

.cards__item__img {
  display: block;
  object-fit: cover;
  pointer-events: auto;
  transition: all 0.2s linear;
}

.cards__item__img:hover {
  transform: scale(1.1);
}

.cards__item__info {
  padding: 20px 30px 30px;
}

.cards__item__text {
  color: #252e48;
  font-size: 18px;
  line-height: 24px;
}

@media only screen and (min-width: 1200px) {
  .content__blog__container {
    width: 84%;
  }
}

@media only screen and (min-width: 1024px) {
  .cards__items {
    display: flex;
  }
}

@media only screen and (max-width: 1024px) {
  .cards__item {
    margin: 1rem;
  }
}

@media (max-width: 800px) {
  .cards__items  {
    flex-direction: column;
    margin: 1rem;
  }

  .cards__item__link {
    width: 12rem;
    font-size: 14px;
  }
}